{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Buffet{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/buffet.css') }}">
    <style>
        {% for shelf in shelves %}
        .shelf[data-shelf-id="{{ shelf.id }}"] {
            top: {{ shelf.y }}px;
            left: {{ shelf.x }}px;
            width: {{ shelf.width }}px;
            height: {{ shelf.height }}px;
        }
        {% endfor %}
    </style>
{% endblock %}

{% block main %}
    <div class="content-panel">
        <h2 class="h4 mb-3">Overview</h2>
        <p>Welcome to the Buffet admin. Use the menu to manage dishes and review updates.</p>
        <div class="buffet-layout mt-3">
            <div class="buffet-cupboard">
                {% for shelf in shelves %}
                    <div class="shelf" data-shelf-id="{{ shelf.id }}"></div>
                {% endfor %}
            </div>
            <div class="buffet-items">
                {% for dish in dishes %}
                    <img src="{{ asset(dish.image) }}" alt="{{ dish.name|e('html_attr') }}">
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
